<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	|

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      
              <div class="container">
                <div class="carousel-caption text-start">
                  <img src="/carousel/imagenes/personas.jpg" img-fluid alt="freepik" class="img-fluid">
                  <h1>¡Bienvenido a la revolución financiera!</h1>
                  <p>Con Homebanking App, el control de tu dinero está en tus manos. Gestiona tus finanzas de forma segura y sencilla.</p>
                  <p><a class="btn btn-lg btn-primary" href="Formulario2.html">Registrarme ahora</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      
              <div class="container">
                <div class="carousel-caption">
                  <h1>Haz que tu dinero trabaje para ti.</h1>
                  <p>Con Homebanking App, puedes invertir, ahorrar y pagar de manera inteligente. Descubre todas las posibilidades que te ofrecemos.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Quiero recibir información.</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>La comodidad de llevar tu banco en tu bolsillo.</h1>
                  <p>Homebanking App te permite realizar transferencias, pagar facturas y mucho más, en cualquier momento y lugar.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Explorá nuestros beneficios.</a></p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      
</body>