<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="l-form">
        <form action="/login" class="form" method="POST">
            <h1 class="form_tittle">Ingresa</h1>

            <div class="form_div">
                <input type="email" class="form_input" placeholder="" name="email">
                <label class="form_label">Email</label>
            </div>

            <div class="form_div">
                <input type="password" class="form_input" placeholder="" name="contrasena">
                <label class="form_label">Contraseña</label>
            </div>

            <input type="submit" class="form_butom" value="Ingresar">
            
        </form>
        

    </div>
    </body>
</html>
